[flake8]
max-line-length = 88
extend-ignore = E203, E266, E501, W503
max-complexity = 10
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    build,
    dist,
    .mypy_cache,
    .pytest_cache,
    .tox,
    .ruff_cache
per-file-ignores =
    __init__.py:F401
    tests/*:F811
    */migrations/*:E501

